

body {
    font-size: 1rem;
  }

#plot {
    width: 50vw;
    height: 50vw;
    /* vw = viewport width */
    max-width: 800px;
    max-height: 800px;

    margin: 0 auto;
}

.parameter-row {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

}


.parameter-adjustment {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.parameter-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.parameter-group {

    display: flex;
    flex-direction: column;
    margin-left: 10%;
    gap: 10px;

}

.parameter-group-title {

    font-weight: 600;
    /*
    margin-bottom: 1rem;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid #e2e6ef;
    */
    color:darkcyan

}

.all-parameters-section {
    display:flex;
    flex-direction: column;
    gap: 10px;
    
}

.val-display {
    color: darkcyan;
}

details {
    margin-bottom: 0;
    padding: 0.4rem 0.8rem;
}

details[open] > summary {
    margin-bottom: 0;   
}

.title {
    margin-top: 20px;
    margin-bottom: 15px;
}

.plot-div{
    display:flex;
    flex-direction: row;
}

#function-input {
    padding: 3px 8px 3px 8px;
}

.error-notice {
    background-color: rgb(244, 199, 199);
}